{% extends "layout.html" %}

{% block content %}

<style>

</style>

<div class="w3-container" id="container_id">
	<h1 dir="ltr"> Waiting for vue frontend to start.... </h1>

	<!-------------------------------------------------------

	<button class="btn btn-info btn-xs" id="add_button"><h5><strong>	
		<a href="{{ url_for('files.upload_file') }}">העלה קובץ חדש</a>
	<strong></h5></button>
	</br></br>

	<h3><strong>		
		רשימת קבצים
	</strong></h3>
	
	<br>
	
	<p></p>
	
	
	<div>			
		{% for file in files %}	
	
			<button class="btn btn-warning btn-xs" style="background-color: #ffff66" ><a href="{{ url_for('files.download_file2', selected_file_id=file.id) }}">הורד קובץ</a></button>		
			<button class="btn btn-warning btn-xs" id="edit_sub_list_id"><a href="{{ url_for('files.replace_file2', selected_file_id=file.id) }}">ערוך פרטי קובץ</a>			
			<button class="btn btn-danger btn-xs"  id="delete_id"><a href="{{ url_for('files.delete_file2', selected_file_id=file.id) }}">מחק</a></button>					
			
			</br>
			
			<button class="accordion">שם הקובץ: {{ file.name }}</button>			
			<div class="panel">
			  <p class="white_ppp">תאור הקובץ: {{ file.body }} </p>
			</div>
			
			</br>			

		{% endfor %}
		
		</br>

	</div>
-------------------------------------------------------------------->

</div>   <!-- container -->

  
	
	
<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>



{% endblock %}